@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
.cross:hover{
  color: var(--back-4)
}
:root{
  --back-1: rgba(81, 52, 197, 0.353);
  --back-2: rgb(25, 25, 27);
  --back-3: rgba(29, 21, 58, 0.353);
  --back-4: rgb(40, 40, 45);
  --main-text: rgba(255, 255, 255, 0.687);
  --extra: rgba(134, 102, 175, 0.459);
  --essentional: rgba(49, 104, 6, 0.445);
  --income: rgba(66, 137, 145, 0.452);
  --lifestyle: rgba(77, 156, 230, 0.438);
  background: radial-gradient(circle at 15% 99%, var(--back-1) 0%, var(--back-2) 80%), #282828;
  color-scheme: light dark;
  font-family: 'Source Sans 3';
  font-weight: 500;
  color: var(--main-text);
  display: flex;                           
  padding: 19px;
  gap: 1rem;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: clamp(1.8rem, 1.5rem + 0.5vw, 2rem);
}
body{
  width: 100%;
  max-width: 900px;
  flex-shrink: 0;
  font-size: 20px;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(1rem, 4vw, 1.5rem);
}
li{
  list-style: none;
}
button{
  background: linear-gradient(to right, var(--back-3),var(--back-4));
  padding: 6px;
  border-radius: 5px;
  border: 0;
  font-family: 'Source Sans 3';
  font-size: 0.5rem;
  font-weight: 700;
}

button:hover{
  background-color: var(--back-4)
}
.active{
  background-color: var(--back-4)
}
.inline{
  display: flex;
  gap: 10px;
}
.sides{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.container{
  display: flex;
  flex-direction: column;
  background-color: rgba(144, 143, 167, 0.434);
  margin-top: 1rem;
  width: 100%;
  border-radius:10px;
  padding: 20px;
  gap: 5px;
}

.balance-sum{
  font-size: clamp(1rem, 1rem + 0.01vw, 2rem)
}
.balance-buttons{
  display: flex;
  gap: 1rem;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-header{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

input[type='text']{
  width: 100%;
}
input{
  font-size: 20px;
  min-width: 0px;
  border-radius: 5px;
  padding: 7px;
  border: none;
  outline: none;
}
input[type='radio']{
  display: none;
}

.category-list{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 10px;
  margin-bottom: 10px;
}
.category{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.category p{
  opacity: 0.5;
  font-size: 14px;
  color: white;
}

.category:hover{
  p{
    opacity: 1;
  }
  img{
    filter: brightness(80%);
  }
}
input[type="radio"]:checked + .category img {
  border: 2px solid rgb(255, 255, 255);  
}
input[type="radio"]:checked + .category p {
  opacity: 1; 
}
.category-image{
  width:40px;
  height: 40px;
  border-radius: 50%
}

.list-item{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 8px;
  border-radius: 5px
}

.extra{
  background-color: var(--extra)
}
.income{
  background-color: var(--income)
}
.lifestyle{
  background-color: var(--lifestyle)
}
.essentional{
  background-color: var(--essentional)
}


.chart-container{
  flex: 1 1 300px;
  min-width: 200px;
  max-width: 500px;
  width: 100%;
  aspect-ratio: 1/1;
}
.chart-container:not(:has(div)){
  display: none;
}
.list-and-chart{
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  display:  flex;
  
}

.list-items{
  width: 100%;
  flex: 1 1 400px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px
}
.list-item-buttons{
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.list-item-buttons button{
  font-weight: 700;
  background: none;
  
}
@media(min-width:850px){
  .list-items{
    max-width: 500px;
  }
}
@media (max-width: 497px) {
  .category-image{
    width:30px;
    height: 30px;
    border-radius: 50%
}
  .category p{
    font-weight: 300;
    font-size: 10px;
  }
  input{
  font-size: 10px;
  min-width: 0px;
  border-radius: 5px;
  padding: 7px;
  border: none;
  outline: none;
  }
  p{
    font-weight: 300;
    font-size: 16px;
  }
  h3{
    font-size: smaller;
  }
}
@media(max-width: 339px){
  .list-item{
    gap: 5px
  }
}