@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
.cross:hover{
  color: var(--back-4)
}
:root{
  --back-1: rgba(81, 52, 197, 0.353);
  --back-2: rgb(25, 25, 27);
  --back-3: rgba(29, 21, 58, 0.353);
  --back-4: rgb(40, 40, 45);
  --main-text: rgba(255, 255, 255, 0.687);
  background: radial-gradient(circle at 15% 99%, var(--back-1) 0%, var(--back-2) 80%), #282828;
  color-scheme: light dark;
  font-family: 'Source Sans 3';
  font-weight: 500;
  color: var(--main-text);
  display: flex;                           
  padding: 19px;
  gap: 1rem;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: clamp(1.8rem, 1.5rem + 0.5vw, 2rem);
}
body{
  width: 100%;
  max-width: 500px;
  flex-shrink: 0;
  font-size: 20px;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(2rem, 2rem+0.2wv, 4rem);
}
h2{
  font-family: 'Montserrat', sans-serif;
}
li{
  list-style: none;
}
button{
  background: linear-gradient(to right, var(--back-3),var(--back-4));
  padding: 6px;
  border-radius: 10px;
  border: 0;
  font-family: 'Source Sans 3';
  font-size: 0.5rem;
  font-weight: 700;
}

button:hover{
  background-color: var(--back-4)
}

.inline{
  display: flex;
  gap: 10px;
}
.sides{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.container{
  display: flex;
  flex-direction: column;
  background-color: rgba(144, 143, 167, 0.434);
  margin-top: 1rem;
  width: 100%;
  border-radius:15px;
  padding: 20px;
  gap: 5px;
}

.balance-sum{
  font-size: clamp(1rem, 1rem + 0.01vw, 2rem)
}
.balance-buttons{
  display: flex;
  gap: 1rem;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-header{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

input[type='text']{
  width: 100%;
}
input{
  font-size: 20px;
  min-width: 0px;
}
input[type='radio']{
  display: none;
}

.category-list{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 10px;
  margin-bottom: 10px;
}
.category-image{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
.category-image p{
  opacity: 0.5;
  font-size: 14px;
  color: white;
}

.category-image:hover{
  p{
    opacity: 1;
  }
  img{
    filter: brightness(80%);
  }
}
input[type="radio"]:checked + .category-image img {
  border: 2px solid rgb(255, 255, 255);  
}
input[type="radio"]:checked + .category-image p {
  opacity: 1; 
}
.category-image img{
  width:40px;
  height: auto;
  border-radius: 50%
}
.category{
  display: flex;
  align-items:center;
  align-content: center;
  justify-content: center;
}

.list-item{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.list-item-button{
  background-color: none;
}
